header .container,
footer .container,
section > .container {
    max-width:1280px;
    padding:0 20px;
    margin:0 auto;
}

section.recent.games,
section.partners {
    .container h2 {
        margin:0 auto;
        font-size: rem(56);
        letter-spacing: -2px;
        text-align: center;
        color: $font-black;
        display:inline-block;

        text-transform:uppercase;
        position:relative;

        @include media ('<700px') {
            font-size: rem(27);
            letter-spacing: -0.8px;
            text-align: center;
        }

        &:after {
            content:'';
            display:block;
            left:1px;
            right:0;
            bottom:-9px;
            height:1px;
            width:100%;
            background:$font-black;
            position:absolute;
        }
    }
}







// mixin

@mixin viewLink () {
    font-size: rem(26);
    font-weight: 600;
    letter-spacing: -0.5px;
    color: $font-yellow;

    background-image:url('../images/bg-arrow-yellow-right@2x.png');
    background-position:right 15px;
    background-repeat:no-repeat;
    background-size:7px 15px;
    padding-right:13px;

    display:inline-block;

    @include media('<700px') {
        font-size: rem(16);
        font-weight: 600;
        letter-spacing: -0.4px;
        background-size:4px 9px;
        padding-right:9px;
        background-position:right 10px;
    }

}

// 반응형 개발중 임시 속성
ul.bi.group {
    font-size:0;

    li {
        font-size: rem(26);
        letter-spacing: -1px;
        text-align: center;
        display:inline-block;

        a {
            width:inherit;
            height:inherit;
            color: $font-black;
            box-sizing:border-box;
            display:flex;
            flex-flow:column;
            align-items:center;

            @include media('<700px') {
                font-size: rem(16);
                letter-spacing: -0.7px;
            }

            position:relative;
        }

        a.bi {
            &:before {
                content:'';
                display:block;
                width:100%;
                min-height:66px;
                background-position:center center;
                background-repeat:no-repeat;
                flex:1;
            }
        }

        a.bi.numbers:before {
            background-image:url('~assets/images/bi-numbers@2x.png');
        }

        a.bi.sin_games:before {
            background-image:url('~assets/images/bi-singame@2x.png');
        }

        a.bi.eosys:before {
            background-image:url('~assets/images/bi-eosys@2x.png');
        }

        a.bi.eos_knight:before {
            background-image:url('~assets/images/bi-eos-knight@2x.png');
        }

        a.bi.day_1:before {
            background-image:url('~assets/images/bi-day-1@2x.png');
        }

        a.bi.meetone:before {
            background-image:url('~assets/images/bi-meet@2x.png');
        }

        a.bi.nova:before {
            background-image:url('~assets/images/bi-nova@2x.png');
        }

        a.bi.scatter:before {
            background-image:url('~assets/images/bi-scatter@2x.png');
        }
    }
}
