header .container,
footer .container,
section > .container {
    max-width:1280px;
    padding:0 20px;
    margin:0 auto;
}

section.recent.games,
section.partners {
    .container h2 {
        margin:0 auto;
        font-family: Volte;
        font-size: rem(56);
        letter-spacing: -2px;
        text-align: center;
        color: $font-black;
        display:inline-block;

        text-transform:uppercase;
        position:relative;

        @include media ('<700px') {
            font-size: rem(27);
            letter-spacing: -0.8px;
            text-align: center;
        }

        &:after {
            content:'';
            display:block;
            left:1px;
            right:0;
            bottom:-9px;
            height:1px;
            width:100%;
            background:$font-black;
            position:absolute;
        }
    }
}







// mixin

@mixin viewLink () {
    font-family: Volte;
    font-size: rem(26);
    font-weight: 600;
    letter-spacing: -0.5px;
    color: $font-yellow;

    background-image:url('../images/bg-arrow-yellow-right@2x.png');
    background-position:right 15px;
    background-repeat:no-repeat;
    background-size:7px 15px;
    padding-right:13px;

    display:inline-block;

    @include media('<700px') {
        font-size: rem(16);
        font-weight: 600;
        letter-spacing: -0.4px;
        background-size:4px 9px;
        padding-right:9px;
        background-position:right 10px;
    }

}

// 반응형 개발중 임시 속성
