// 영문 폰트, volte 웹 리소스 처리.
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff');
}

@font-face {
    /* font-family: 'Spoqa Han Sans'; */
    font-family: SpoqaHanSans;
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff');
}

@font-face {
    font-family: SpoqaHanSans-Light;
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff');
}

@font-face {
    font-family: Volte;
    font-weight: 400;
    src: local('Volte'),
        url('~assets/fonts/volte-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: Volte;
    font-weight: 500;
    src: local('Volte'),
        url('~assets/fonts/volte-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: Volte;
    font-weight: 600;
    src: local('Volte'),
        url('~assets/fonts/volte-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: Volte;
    font-weight: 700;
    src: local('Volte'),
        url('~assets/fonts/volte-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: volte;
    font-weight: 400;
    src: local('Volte'),
        url('~assets/fonts/volte-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: volte;
    font-weight: 500;
    src: local('Volte'),
        url('~assets/fonts/volte-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: volte;
    font-weight: 600;
    src: local('Volte'),
        url('~assets/fonts/volte-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: volte;
    font-weight: 700;
    src: local('Volte'),
        url('~assets/fonts/volte-bold-webfont.woff') format('woff');
}
