section.intro {
    background-image:url('../images/bg-mainvisual-bottom@2x.png'),url('../images/main-visual.jpg');
    background-position: bottom center, top center;
    background-repeat:no-repeat,no-repeat;
    background-size:contain,1920px auto;
    min-height:750px;

    @include media ('>1920px') {
        background-size:contain, 100vw auto;
    }

    @include media ('<700px') {
        background-image:url('../images/bg-mainvisual-bottom@2x.png'),url('../images/main-visual.jpg');
        background-size:contain, cover;
        min-height:auto;
        max-height:572px;
        height:100vh;
        display:flex;
        align-items:center;
    }


    .container {
        padding-top:167px;
        padding-bottom:120px;
        text-align:center;

        @include media ('>1920px') {
            padding-top:14.1vw;
            padding-bottom:8.25vw;
        }

        @include media ('<700px') {
            padding-top:220px;
            // padding-bottom:8.25vw;
        }
    }


    h2 {
        width:630px;
        height:241px;
        background:url('../images/bnr-blasterz-logo@2x.png') center center no-repeat;
        background-size:574px auto;
        display:inline-block;
        @include ir();

        @include media ('<700px') {
            // margin-top:61.7px;
            width:278px;
            height:132px;
            background-size:279px auto;
        }
    }

    p {
        opacity: 0.5;
        text-shadow: 0 5px 20px rgba(29, 26, 24, 0.5);
        font-size: rem(18);
        line-height: 1.89;
        letter-spacing: -1px;
        color: $white;

        @include media ('<700px') {
            opacity: 0.7;
            text-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
            font-size: rem(14);
            line-height: 1.64;
            letter-spacing: -0.5px;
            text-align: center;
        }
    }

    a {
        display:inline-block;
        text-align:center;
        min-width:220px;
        padding-left:20px;
        padding-right:20px;
        height:65px;
        line-height:65px;
        color:$white;
        font-size: rem(24);
        font-weight: 600;
        letter-spacing: -0.8px;
        text-align: center;
        border-radius:35px;
        text-transform:capitalize;

        background-image:linear-gradient(to bottom,#ff8a00 0%, #ff7a00 100% );

        @include media ('<700px') {
            min-width:0;
            width:180px;
            padding:0;
            height:46px;
            line-height:46px;
            font-size:rem(20);
        }
    }

    h2 + p {
        margin-top:50px;
        @include media ('<700px') {
            margin-top:48px;
        }

        + a {
            margin-top:16px;
            margin-bottom:32px;
        }
    }
}
