section.support {
    padding-top:124px;
    padding-bottom: 118px;
    background: #f9fafc;

    @include media ('<700px') {
        padding-top:51px;
        padding-bottom:49px;
    }


    .container{
        &:after {
            content:'';
            display:block;
            clear:both;
        }

        > section.creaters {
            float:left;
            @include media ('<700px') {
                float:none;
            }
        }

        > section.supporters {
            float:right;
            @include media ('<700px') {
                float:none;
            }
        }

    }

    h3 {
        font-size: rem(26);
        font-weight: 600;
        letter-spacing: -1px;
        color: #1d1a18;
        text-transform:uppercase;

        @include media ('>=700px') {
            &:lang(ko) {
                font-family: $korean;
                font-size: rem(26);
            }
        }

        @include media('<700px') {
            font-size: rem(18);
            font-weight: 600;
            letter-spacing: -0.4px;
            color: $font-black;
        }
    }

    ul.bi.group {
        margin-left:-55px;
        margin-right:-50px;
        margin-top:69px;

        li {
            margin:0 50px;

            a.bi {
                font-size:rem(18);
                height:124px;
                width:80px;
                letter-spacing:0;
            }

            a.bi:before {
                background-size:auto 80px;;
            }

            @include media ('<700px') {
                margin:0;
            }
        }
    }


    section.creaters {
        ul.bi.group li:nth-of-type(1) a.bi {
            width:80px;
            margin-right:-4px;
        }
    }


    section.supporters {
        h3 {
            text-align:right;
        }
    }

    @include media ('<700px') {
        section.creaters,
        section.supporters {
            h3 {
                text-align:center;
            }

            ul {
                text-align:center;
            }
       }

        section + section {
            margin-top:50px;
        }

        ul.bi.group {
            margin-top:21px;
            margin-left:0;
            margin-right:0;

            li {
                a.bi {
                    margin:0 5px;
                    height:96px;
                    font-size:rem(14);

                }
                &:nth-of-type(1) {
                    margin:0 !important;
                }

                a.bi:before {
                    background-size:auto 50px;
                }
            }
        }
    }

}
