section.description {
    h3 {
        font-family: Volte;
        font-size: rem(42);
        font-weight: 600;
        letter-spacing: -0.5px;
        color: $font-black;
        @include media ('<700px') {
            font-size: rem(26);
            font-weight: 600;
            line-height: 1.42;
            letter-spacing: -0.4px;
        }
    }

    p {
        font-family: Volte;
        font-size: 26px;
        line-height: 1.46;
        letter-spacing: -0.5px;
        color: #1d1a18;
    }

    button.play.video {
        @include ir()
        width:80px;
        height:80px;
        background:url('../images/img-movie-play@2x.png') center center no-repeat;
        background-size:cover;
        position:absolute;
        top:50%;
        left:50%;
        margin:-40px 0 0 -40px;
        transition:transform 0.3s;

        &:hover {
            transform:scale(1.02)
        }
    }

    .btn_area {
        display:flex;
        justify-content: space-between;
        a {
            width:290px;
            height:90px;
            @include ir();
        }

        a.play.ios {
            background:url('../images/btn-game-appstore@2x.png') center center no-repeat transparent;
            background-size:contain;
        }

        a.play.aos {
            background:url('../images/btn-game-googleplay@2x.png') center center no-repeat transparent;
            background-size:contain;
        }

        a.download.apk {
            background:url('../images/btn-game-androidapk@2x.png') center center no-repeat transparent;
            background-size:contain;
        }

        a.play.web {
            background:url('../images/btn-game-web@2x.png') center center no-repeat transparent;
            background-size:contain;
        }
    }

    p + .btn_area {
        padding-top:80px;
    }

}

section.description.title {
    padding-top:74px;
}

section.description.screenshot{
    padding:0;

    > .container {
        max-width:none;
        margin:60px auto 40px;
    }
}

section.description.script {
    padding-top:40px;
    padding-bottom:120px;
}
