section.play {

    min-height:1000px;

    &:before {
        content:'';
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:620px;
        background:url('../images/main-visual.jpg') center top no-repeat #000;
        background-size:1920px auto;

        @include media ('>1920px') {
            background-position:center 20%;
            background-size:cover;
        }
    }

    > .container {
        position:relative;
        text-align:center;
        padding-top:204px;
        padding-bottom:200px;

        @include media ('<700px') {
            padding-top:150px;
        }
    }

    h2 {
        position:relative;
        display:inline-block;
        width:603px;
        height:366px;
        background:url('../images/bnr-blasterz-logo@2x.png') center center no-repeat;
        background-size:574px auto;
        @include ir();

        @include media ('<700px') {
            // margin-top:61.7px;
            width:278px;
            height:132px;
            background-size:279px auto;
        }
    }

    p {
        text-shadow: 0 5px 20px rgba(29, 26, 24, 0.5);
        font-size: 18px;
        line-height: 1.89;
        text-align: center;
        color: #f1f1f1;
    }

    p.image.container {
        margin-top:25px;
        font-size:0;
        box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2);


        img {
            max-width:1280px;
            // width:100%;
            width:1280px;
        }
    }

    .btn_area {
        display:flex;
        justify-content: center;
        margin-top:120px;
        max-width:950px;
        margin-left:auto;
        margin-right:auto;

        @include media ('<700px') {
            display:block;
        }

        a {
            flex:0 0 290px;
            margin-left:40px;
            &:first-child {
                margin-left:0;
            }
            height:90px;

            @include media('<700px') {
                min-width:200px;
                margin-left:0;
            }

            font-size: rem(26);
            @include media ('>700px','<1300px') {
                margin-left:10px;
                font-size:rem(22);
            }
            font-weight: 600;
            text-align:center;
            border-radius:8px;
            box-sizing:border-box;

            display:flex;
            justify-content:center;
            align-items:center;

            border:2px solid $font-black;
            color:$font-black;

            @include media ('<700px') {
                width:100%;
                font-size:rem(20);
            }

            background:#fff;
        }

        @include media ('<700px') {
            a ~ a {
                margin-top:15px;
            }
        }

        a.play {
            color: $white;
            background:$font-black;
            &:before {
                display:inline-block;
                content:'';
            }

            &.ios:before {
                background:url('../images/bg-apple@2x.png') left center no-repeat;
                background-size:contain;
                width:36px;
                height:42px;
                margin-right:18px;

                @include media ('<700px') {
                    width:25px;
                    height:29.3px;
                }
            }

            &.aos:before {
                background:url('../images/bg-google@2x.png') center center no-repeat transparent;
                background-size:contain;
                width:35px;
                height:38px;
                margin-right:20px;

                @include media ('<700px') {
                    width:27px;
                    height:30px;
                }
            }
        }
    }




}
