section.intro {
    background:url('../images/bg-games-eos-blasterz@2x.png') center center no-repeat;
    background-size:1920px auto;
    min-height:750px;

    @include media ('>1920px') {
        background-size:cover;
    }

    @include media ('<700px') {
        background:url('../images/bg-games-eos-blasterz-mobile@2x.png') left top no-repeat;
        background-size:100%;
        min-height:572px;
        // background-position:center;
    }


    .container {
        padding-top:167px;
        padding-bottom:120px;
        text-align:center;

        @include media ('>1920px') {
        }
    }


    h2 {
        width:630px;
        height:241px;
        background:url('../images/bnr-blasterz-logo@2x.png') center center no-repeat;
        background-size:574px auto;
        display:inline-block;
        @include ir();

        @include media ('<700px') {
            margin-top:61.7px;
            width:278px;
            height:132px;
            background-size:279px auto;
        }
    }

    p {
        opacity: 0.5;
        text-shadow: 0 5px 20px rgba(29, 26, 24, 0.5);
        font-size: rem(18);
        line-height: 1.89;
        letter-spacing: -1px;
        color: $white;

        @include media ('<700px') {
            opacity: 0.7;
            text-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
            font-size: rem(14);
            line-height: 1.64;
            letter-spacing: -0.5px;
            text-align: center;
        }
    }

    a {
        @include ir();
        display:inline-block;

        background:url('../images/btn-playnow-desktop@2x.png') center center no-repeat;
        background-size:contain;

        width:280px;
        height:70px;

        @include media ('<700px') {
            width:180px;
            height:46px;
            background:url('../images/btn-download-mobile@2x.png') center center no-repeat;
            background-size:contain;
        }
    }

    h2 + p {
        margin-top:50px;
        @include media ('<700px') {
            margin-top:62px;
        }

        + a {
            margin-top:14px;
        }
    }
}
