section.support {
    padding-top:120px;
    padding-bottom: 120px;
    background: #f9fafc;

    @include media ('<700px') {
        padding-top:51px;
        padding-bottom:49px;
    }


    .container{
        &:after {
            content:'';
            display:block;
            clear:both;
        }

        > section.creaters {
            float:left;
            @include media ('<700px') {
                float:none;
            }
        }

        > section.supporters {
            float:right;
            @include media ('<700px') {
                float:none;
            }
        }

    }

    h3 {
        font-family: Volte;
        font-size: rem(26);
        font-weight: 600;
        letter-spacing: -1px;
        color: #1d1a18;
        text-transform:uppercase;

        @include media('<700px') {
            font-family: Volte;
            font-size: rem(18);
            font-weight: 600;
            letter-spacing: -0.4px;
            color: $font-black;
        }
    }

    ul.bi.group {
        margin-left:-50px;
        margin-right:-50px;
        margin-top:80px;
        a.bi:before {
            background-size:contain;
        }

        li {
            margin:0 50px;
            @include media ('<700px') {
                margin:0;
            }
        }
    }


    section.supporters {
        h3 {
            text-align:right;
        }
    }

    @include media ('<700px') {
        section.creaters,
        section.supporters {
            h3 {
                text-align:center;
            }

            ul {
                margin-top:33px;
                text-align:center;
            }
       }

        section + section {
            margin-top:50px;
        }

        ul.bi.group {
            margin-top:30px;
            li {
                min-width:50px;
                width:62px;
                height:86px;
                margin:0 15px;

                a.bi.eosys {
                    &:before {
                        background-size:43px auto;
                    }
                }

                a.bi.day_1 {
                    &:before {
                        background-size:50px auto;
                    }
                }

                a.bi.meetone {
                    &:before {
                        background-size:50px auto;
                    }
                }

                a.bi.nova {
                    &:before {
                        background-size:50px auto;
                    }
                }

                a.bi.scatter {
                    &:before {
                        background-size:50px auto;
                    }
                }
            }

        }
    }

}
