header {
    position:fixed;
    left:0;
    right:0;
    height:81px;    // 기본 높이
    z-index:7;
    transition:background-color 0.2s;

   div.container {
        box-sizing:border-box;
        position:relative;
        height:inherit;
        display:flex;
        align-items:center;
        justify-content:space-between;

        max-width:1319px;
        padding:0 10px 0 20px;
        margin:0 auto;
    }

    // 공통
    li {
        list-style-type:none;
        margin:0;
        padding:0;
    }

    // 제목
    h1 {
        width:141px;
        height:41px;

        a {
            display:block;
            width:inherit;
            height:inherit;
            @include ir();
        }
    }

    // 모바일의 메뉴 보여주기 버튼
    .mobile.menu {
        display:none;
    }

    // 언어 변환
    div.locale.change {

        height:54px;
        width:101px;
        box-sizing:border-box;
        text-align:center;

        div {
            padding-left:20px;
            padding-right:20px;
            padding-top:14px;
            padding-bottom:16px;
            transition:background-color 0.2s;
            letter-spacing:-0.5px;
            // radius
            border-radius:5px;
        }

        button {
            background-size:12px 12px;
            line-height:1.1;
            box-sizing:border-box;
        }

        position:relative;
        ul {
            li {
                padding-top:11px;
            }

            &.expand {
                display:block;
            }
        }

        :lang(ko) li.ko,
        :lang(en) li.en,
        :lang(zh) li.zh {
            display:none;
        }

        &.expand {
            div {
                background-color:$orange;
            }

            button {
                font-weight:700;
            }

            a,button {
                color:$white;
            }
        }
    }

    // gnb
    nav {
        $width:155px;
        width:264px;
        height:81px;
        position:absolute;
        top:0;
        left:50%;
        margin-left:calc(-264px / 2 - 7px);

        .viewing {
            font-weight:700;
        }

        > ul {
            width:$width*2;
            height:inherit;
            position:absolute;
        }

        > ul > li {
            float:left;
            text-align:center;
            line-height:81px;

            margin-left:27px;

            &:first-child {
                margin-left:0;
            }

            button,
            a {
                text-align:center;
                width:100%;
                letter-spacing:-0.5px;

                &:first-letter {
                    text-transform:uppercase;
                }
            }

            button {
                cursor:default;
            }
        }

        li.games {
            width:$width;
            li {
                padding:15px 0;
            }

            // background color dropdown
            &:before {
                content:'';
                display:block;
                position:absolute;
                width:100%;
                height:0%;
                top:0;
                left:0;
                background:rgba(250, 119, 12, 0.95);
                z-index:-1;
                border-radius: 0 0 5px 5px;
                transition:height 0.2s;
            }

            position:relative;
        }

        li.games:hover {
            &:before {
                height:100%;
            }

            ul {
                padding-bottom:15px;
                max-height:200px;
                height:auto;
            }

            button {
                font-weight:700;
            }
        }

        > ul > li {
            > a:hover {
                font-weight:700;
            }

            > ul > li {
                > li:hover,
                > a:hover {
                    font-weight:500;
                }
            }
        }
    }
}


// page routing에 따라서 컬러셋을 다르게 지정해줌
@keyframes header {
    0% {
        transform:translateY(-100%);
    }

    100% {
        transform:translateY(0%);
    }
}

header {
    animation:header 1s;
}

header.index,
header.games-eos-blasterz,
header.games-eos-blasterz-play {
    color:$white;

    h1 {
        background:url('~assets/images/bi-jellujuice-white@2x.png') center center no-repeat;
        background-size:contain;
    }

    a,button {
        color:inherit;
    }
}

header.partnership {
    color:$orange;

    h1 {
        background:url('~assets/images/bi-jellujuice-orange@2x.png') center center no-repeat;
        background-size:contain;
    }

    a, button {
        color:inherit;
    }

    li.games:hover {
        a, button {
            color:$white;
        }
    }
}

header.reflection {
    color:$white;
    background:$black;

    h1 {
        background:url('~assets/images/bi-jellujuice-white@2x.png') center center no-repeat;
        background-size:contain;
    }

    a, button {
        color:inherit;
    }
}















// mobile
@include media ('<700px') {
header {
    height:64px;

    h1 {
        width:122px;
        height:35px;
    }

    div.container {
        padding-left:18px;
        // padding:15px 16px;
    }
}

.wrapper {
    transition:transform 0.4s;
    transform:translateX(100%)
}

.wrapper.expand {
    transform:translateX(0)
}

button.mobile.menu {
    z-index:9;
    position:absolute;
    right:20px;
    top:16px;
    display:inline-block;
    width:23px;
    height:32px;
    background:url('../images/btn-bugger-white@2x.png') center center no-repeat;
    background-size:contain;
    @include ir();
    animation: slideOutButton 2s;

    header.partnership & {
        background:url('../images/btn-bugger-orange@2x.png') center center no-repeat;
        background-size:contain;
    }

    header.reflection & {
        background:url('../images/btn-bugger-white@2x.png') center center no-repeat;
        background-size:contain;
    }
}

header button.mobile.menu.expand {
    background:url('../images/btn-close@2x.png') center center no-repeat;
    background-size:contain;
    animation: slideInButton 0.4s;
}

@keyframes slideOutButton {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@keyframes slideInButton {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}


header .wrapper {
    color:$white;
    display:block;
    box-sizing:border-box;
    max-width:425px;
    max-height:853px;
    width:100vw;
    height:100vh;
    position:fixed;
    right:0;
    top:0;
    background-color:#34262e;

    padding-top:95px;
    padding-left:30px;
    padding-bottom:60px;


    // initial
    nav,
    nav > ul,
    nav > ul > li {
        width:auto;
        height:auto;
        margin:0;
        position:static;
    }

    nav > ul > li {
        margin-top:52px;
        &:first-child {
            margin-top:0;
        }
    }

    nav li {
        float:none;
        text-align:left;
        line-height:1.1;

        button {
            width:auto;
        }

        > button,
        > a {
            font-size: 24px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -0.4px;
        }
    }

    nav li ul {
        display:block;
    }

    nav li.games:hover {
        background:none;
    }

    nav li.games li {
        padding:0;
    }

    nav li li {
        margin-top:22px;
        a {
            font-size: rem(22);
            line-height: 1;
            letter-spacing: -0.7px;
            font-weight:400;

            &:hover {
                font-weight:inherit;
            }
        }
    }

    div.locale.change {
        position:absolute;
        left:30px;
        bottom:0;
        width:auto;

        > div {
            padding:0;
        }

        .status {
            display:none;
        }

        ul {
            display:block;
            position:static;
            padding:0;
        }

        button.locale.status {
            display:none;
        }

        ul li {
            display:inline-block !important;
            margin-left:18px;
            padding:0;

            &:first-child {
                margin-left:0;
            }
            a {
                font-size: rem(16);
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.7px;
                color:#938c87;

            }
            html[lang='ko-KR'] &.ko a,
            html[lang='zh-CN'] &.zh a,
            html[lang='en-US'] &.en a {
                font-weight:500;
                color:$white;
                display:inherit;
            }

        }

        &.expand,
        &.expand ul {
            background-color:transparent;
        }
    }
}
}
