section.partners {
    padding-top:193px;
    padding-bottom:220px;
    background-color: #f9fafc;

    @include media('<700px') {
        padding-top:80px;
        padding-bottom:87px;
    }

    .container {
        max-width:1400px + 6px;
        text-align:center;
    }

    h2 + ul {
        margin-top:30px;
    }

    ul.bi.group {
        padding-left:6px;
        @include media('<700px') {
            padding-left:0;
        }

        li {
            width:200px;
            height:170px;
            margin-left:40px;
            margin-right:40px;
            margin-top:108px;

            @include media('<700px') {
                width:119px;
                height:115px;
                margin-top:36px;
                margin-left:9px;
                margin-right:9px;

                &:nth-of-type(2n-1) {
                    margin-left:0;
                }

                &:nth-of-type(2n) {
                    margin-right:0;
                }
            }
        }

        a.bi.numbers:before {
            background-size: auto 62.2px;
            background-position-y:calc(50% - 4px);
        }

        a.bi.sin_games:before {
            background-size: 110px 110px;
            background-position-y:45%;
        }

        a.bi.eosys:before {
            background-size: auto 120px;
            background-position-y:45%;
        }

        a.bi.eos_knight:before {
            background-size: 110px auto;
        }

        a.bi.day1:before {
            background-size: 110px auto;
        }

        a.bi.meetone:before {
            background-size: 110px auto;
            background-position-y:43%;
        }

        a.bi.nova:before {
            background-size: 110px auto;
            background-position-y:41%;
        }

        a.bi.scatter:before {
            background-size: 110px auto;
            background-position-y:39%;
        }

        @include media('<700px') {
            a.bi.numbers:before    {
                background-size:auto 38px;
                background-position:center center;
            }
            a.bi.sin_games:before  { background-size:66px auto; }
            a.bi.eosys:before      { background-size:62px auto; }
            a.bi.eos_knight:before { background-size:66px auto; }
            a.bi.day1:before {
                background-size: 66px auto;
                background-position:center 18px;
            }
            a.bi.meetone:before    { background-size:66px auto; }
            a.bi.nova:before       { background-size:66px auto; }
            a.bi.scatter:before    { background-size:66px auto; }
        }

    }
}
