section.intro {
    box-sizing:border-box;
    background:url('../images/bg-index-intro-top@2x.png') top center no-repeat,
              url('../images/bg-index-intro-bottom@2x.png') bottom center no-repeat;
    background-size:1478.5px auto,
                    1920px auto;
    min-height:750px;

    padding-top:286px;
    padding-bottom:190px;


    h2 {
        font-family: Volte;
        font-size: rem(72);
        font-weight: 500;
        letter-spacing: -3px;
        text-align: center;
        color: $font-black
    }

    p {
        font-family: Volte;
        font-size: rem(26);
        line-height: 1.31;
        letter-spacing: -1px;
        text-align: center;
        color: $font-black;
    }

    h2 + p {
        margin-top: 32px;
    }
}
