section.partners {
    padding-top:200px;
    padding-bottom:200px;
    background-color: #f9fafc;

    @include media('<700px') {
        padding-top:80px;
        padding-bottom:80px;
    }

    .container {
        text-align:center;
    }

    h2 + ul {
        margin-top:50px;
        @include media('<700px') {
            margin-top:33px;
        }
    }

    ul.bi.group {
        li {
            width:200px;
            height:207px;
            margin-left:40px;
            margin-right:40px;
            margin-top:70px;

            @include media('<700px') {
                width:108px;
                height:111px;
                margin-left:10px;
                margin-right:10px;
                margin-top:40px;
            }
        }

        a.bi.numbers:before { background-size:140px auto; }
        a.bi.sin_games:before { background-size:100px auto; }
        a.bi.eosys:before { background-size:104px auto; }
        a.bi.eos_knight:before { background-size:104px auto; }
        a.bi.day1:before { background-size:104px auto; }
        a.bi.meetone:before { background-size:100px auto; }
        a.bi.nova:before { background-size:110px auto; }
        a.bi.scatter:before { background-size:110px auto; }

        @include media('<700px') {
            a.bi.numbers:before { background-size:83.1px auto; }
            a.bi.sin_games:before { background-size:66px auto; }
            a.bi.eosys:before { background-size:62px auto; }
            a.bi.eos_knight:before { background-size:66px auto; }
            a.bi.day1:before { background-size:66px auto; }
            a.bi.meetone:before { background-size:66px auto; }
            a.bi.nova:before { background-size:66px auto; }
            a.bi.scatter:before { background-size:66px auto; }
        }

    }
}
