// local variable
$font-black : #1d1a18;

section.support {
    h3 {
        font-family: Volte;
        font-size: rem(42);
        font-weight: 600;
        letter-spacing: -0.5px;
        color: $font-black;

        position:relative;
        counter-increment:header;
        margin-top:95px;
        @include media ('<700px') {
            margin-top:68px;
            font-size: rem(26);
            letter-spacing: -0.4px;
        }
    }

    h3 i {
        font-style:normal;
        font-family: Volte;
        font-size: rem(26);
        letter-spacing: -0.3px;
        color: $font-black;
        min-width:80px;
        display:block;
        padding-bottom:14px;
        border-bottom:1px solid $font-black;
        position:absolute;
        top:-95px;
        left:0;

        @include media ('<700px') {
            top:-71px;
            font-size: rem(16);
            font-weight:400;
        }
    }

    .container > p,
    section > p {
        font-family: Volte;
        font-size: rem(26);
        line-height: 1.46;
        letter-spacing: -0.5px;
        color: $font-black;

        @include media ('<700px') {
            font-size: rem(16);
            line-height: 1.56;
            letter-spacing: -0.4px;
        }
    }

    a {
        @include viewLink();
    }

    h3 + p {
        margin-top:30px;
        @include media ('<700px') {
            margin-top:15px;
        }

        & + a {
            margin-top:50px;
            @include media ('<700px') {
                margin-top:25px;
            }
        }
    }

}


section.support.title {
    padding-top:200px;
    padding-bottom:80px;

    @include media ('<700px') {
        padding-top:92px;
        padding-bottom:42px;
    }

    h2 {
        font-family: Volte;
        font-size: rem(56);
        letter-spacing: -4px;
        color: $font-black;
        text-align:center;
        @include media ('<700px') {
            font-size: rem(29);
            line-height: 1.17;
            letter-spacing: -0.9px;
            text-align: center;
        }
    }
}



section.support.funding,
section.support.contract {
    margin-top:120px;
    margin-bottom:120px;

    @include media ('<700px') {
        margin-top:118px;
        margin-bottom:50px;
    }

    // 개별 페이지
    .container {
        display:flex;
        position:relative;

        @include media ('<700px') {
            display:block;
        }

        section {
            flex:1;
        }
        .image.wrapper {
            margin-left:120px;

            @include media ('<700px') {
                margin-left:0;
                margin-top:50px;
            }

            img {
                width:100%;
                max-width:580px;
            }

            img:nth-of-type(2) {
                max-width:300px;

                position:absolute;
                top:0;
                left:100%;

                @include media ('<700px') {
                    display:none;
                }
            }
        }
    }
}


section.support.marketing {
    padding-top:120px;
    padding-bottom:120px;

    @include media ('<700px') {
        padding-top:50px;
        padding-bottom:50px;
    }

    background:url('../images/bg-support-marketing@2x.png') top center no-repeat #1d1a18;
    background-size:auto 1059px;

    p + ul {
        margin-top:80px;
        @include media ('<700px') {
            margin-top:50px;
        }
    }

    h3,
    i,
    .container > p {
        color:$white;
    }

    i {
        border-bottom-color:$white;
    }

    ul {
        display:flex;
        justify-content: space-between;

        @include media ('<700px') {
            display:block;
        }

        li {
            max-width:400px;
            background: $white;
            color:$font-black;
            padding-bottom:40px;
            @include media ('<700px') {
                margin-top:30px;
                padding-bottom:30px;
                &:first-child {
                    margin-top:0;
                }
            }
        }
    }

    img {
        display:block;
        width:100%;
    }

    h4 {
        font-family: Volte;
        font-size: rem(26);
        font-weight: 600;
        line-height: 1.46;
        letter-spacing: -0.5px;
        color: $font-yellow;
        margin:20px 30px 0;

        @include media ('<700px') {
            font-size: rem(20);
            line-height: 1;
            letter-spacing: -0.1px;
            margin-left:20px;
            margin-right:20px;
        }
    }

    li p {
        font-family: Volte;
        font-size: rem(16);
        line-height: 1.56;
        letter-spacing: -0.3px;
        color: $font-black;
        margin:15px 30px 0;

        @include media ('<700px') {
            font-size: rem(15);
            line-height: 1.47;
            letter-spacing: -0.4px;
            color: #1d1a18;
            margin-left:20px;
            margin-right:20px;
        }
    }
}
