$black : #000;
$white : #fff;
$orange : #fa770c;

$font-black:#18191d;
$font-yellow:#ff9000;
$font-gray : #908b8b;

$korean :'Apple SD Gothic', 'Noto Sans KR','NanumGothic','Malgun Gothic','맑은 고딕',sans-serif;
